<!DOCTYPE html>
<html>
<head>
	<title>vue中的单选框</title>
</head>
<body>
	<div id="app">
		<input type="radio" name="sex" value="男" v-model="checked">男
		<input type="radio" name="sex" value="女" v-model="checked">女
		<br>
		{{ checked }}
	</div>
</body>

<script src="../node_modules/vue/dist/vue.js"></script>

<script type="text/javascript">
	//实例化vue对象
	var vm=new Vue({
		el: "#app",
		data: {
			checked: "女"   //单选框, 必须要有name属性, 而且它的值必须一致, 
							//v-model双向绑定的时候, 是根据value的值来决定哪个被选中的
		}
	});
</script>
</html>